{% extends 'base.html'%}

{% block content %}

        <form method="post" action="{% url 'main:create' %}">
            {% csrf_token %}
            <div class="input-group mb-5 col-5 px-0">
                {% if not user.is_superuser %}
                <div class="input-group-prepend">
                    <div class="input-group-text" title="Я - исполнитель">
                        <input type="checkbox"
                               name="performer"
                               id="id_performer"
                               aria-label="">
                    </div>
                </div>
                {% endif %}
                <input type="text"
                       class="performers"
                       required
                       placeholder="Пишите задачу здесь"
                       name="article"
                       title="Task title"
                       id="id_article"
                       aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Cоздать</button>
                </div>
            </div>
        </form>
{% endblock content %}