<style>
    body { 
    padding-top: 65px; 
}
    h6 {
      color: white;
      padding-right:3px;
    }

</style>
    <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Trello</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
       
        <li class="nav-item">
          <a class="btn btn-dark" href="/add">Добавить задачу</a>
        </li>
       
        <li class="nav-item active">
        </li>
      </ul>
      <h6> Привет,{{ user }}</h6>
      <a href="/logout" class="btn btn-dark">Выйти</a>
    </div>
  </nav>
</header>